In [2]:
import numpy as np
import pandas as pd
from sklearn import linear_model
import matplotlib.pyplot as plt
#pickle and joblib are used to save your trained model
import pickle
#from sklearn.externals import joblib
import joblib
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier

In [3]:
data=pd.read_csv("Right-To-Work-Law.csv")
data

                     City  COL    PD  URate      Pop  Taxes  Income  RTWL
0                 Atlanta  169   414   13.6  1790128   5128    2961     1
1                  Austin  143   239   11.0   396891   4303    1711     1
2             Bakersfield  339    43   23.7   349874   4166    2122     0
3               Baltimore  173   951   21.0  2147850   5001    4654     0
4             Baton Rouge   99   255   16.0   411725   3965    1620     1
5                  Boston  363  1257   24.4  3914071   4928    5634     0
6                 Buffalo  253   834   39.2  1326848   4471    7213     0
7        Champaign-Urbana  117   162   31.5   162304   4813    5535     0
8            Cedar Rapids  294   229   18.2   164145   4839    7224     1
9                 Chicago  291  1886   31.5  7015251   5408    6113     0
10             Cincinnati  170   643   29.5  1381196   4637    4806     0
11              Cleveland  239  1295   29.5  1966725   5138    6432     0
12                  Dalas  174   302   11.0  2527224   4923    2363     1
13                 Dayton  183   489   29.5   835708   4787    5606     0
14                 Denvar  227   304   15.2  1413318   5386    5982     0
15                Detriot  255  1130   34.6  4424382   5246    6275     0
16              Green Bay  249   323   27.8   169467   4289    8214     0
17               Hartford  326   696   21.9  1062565   5134    6235     0
18                Houston  194   337   11.0  2286247   5084    1278     1
19           Indianapolis  251   371   29.3  1138753   4837    5699     0
20            Kansas City  201   386   30.0  1290110   5052    4868     0
21          Lancaster, PA  124   362   34.2   342797   4377    5205     0
22            Los Angeles  340  1717   23.7  6986898   5281    1349     0
23              Milwaukee  328   968   27.8  1409363   5176    7635     0
24  Minneapolis, St. Paul  265   433   24.4  2010841   5206    8392     0
25              Nashville  120   183   17.7   748493   4454    3578     1
26               New York  323  6908   39.2  9561089   5260    4862     0
27                Orlando  117   230   11.7   582664   4613     782     1
28           Philadelphia  182  1353   34.2  4807001   4877    5144     0
29             Pittsburgh  169   762   34.2  2322224   4677    5987     0
30               Portland  267   201   23.1   228417   4123    7511     0
31              St. Louis  184   480   30.0  2366542   4721    4809     0
32              San Diego  256   372   23.7  1584583   4837    1458     0
33          San Francisco  381  1266   23.7  3140306   5940    3015     0
34                Seattle  195   333   33.1  1406746   5416    4424     0
35             Washington  205  1073   21.0  3021801   6404    4224     0
36                Wichita  206   157   12.8   384920   4796    4620     1
37         Raleigh-Durham  126   302    6.5   468512   4614    3393     1

In [4]:
data.isnull().sum()

City      0
COL       0
PD        0
URate     0
Pop       0
Taxes     0
Income    0
RTWL      0
dtype: int64

# Numerical features

In [5]:
numerical_features=[feature for feature in data.columns if data[feature].dtype!='object']

print("Number of Numeric Variables ",len(numerical_features))
data[numerical_features]

Number of Numeric Variables  7

    COL    PD  URate      Pop  Taxes  Income  RTWL
0   169   414   13.6  1790128   5128    2961     1
1   143   239   11.0   396891   4303    1711     1
2   339    43   23.7   349874   4166    2122     0
3   173   951   21.0  2147850   5001    4654     0
4    99   255   16.0   411725   3965    1620     1
5   363  1257   24.4  3914071   4928    5634     0
6   253   834   39.2  1326848   4471    7213     0
7   117   162   31.5   162304   4813    5535     0
8   294   229   18.2   164145   4839    7224     1
9   291  1886   31.5  7015251   5408    6113     0
10  170   643   29.5  1381196   4637    4806     0
11  239  1295   29.5  1966725   5138    6432     0
12  174   302   11.0  2527224   4923    2363     1
13  183   489   29.5   835708   4787    5606     0
14  227   304   15.2  1413318   5386    5982     0
15  255  1130   34.6  4424382   5246    6275     0
16  249   323   27.8   169467   4289    8214     0
17  326   696   21.9  1062565   5134    6235     0
18  194   337   11.0  2286247   5084    1278     1
19  251   371   29.3  1138753   4837    5699     0
20  201   386   30.0  1290110   5052    4868     0
21  124   362   34.2   342797   4377    5205     0
22  340  1717   23.7  6986898   5281    1349     0
23  328   968   27.8  1409363   5176    7635     0
24  265   433   24.4  2010841   5206    8392     0
25  120   183   17.7   748493   4454    3578     1
26  323  6908   39.2  9561089   5260    4862     0
27  117   230   11.7   582664   4613     782     1
28  182  1353   34.2  4807001   4877    5144     0
29  169   762   34.2  2322224   4677    5987     0
30  267   201   23.1   228417   4123    7511     0
31  184   480   30.0  2366542   4721    4809     0
32  256   372   23.7  1584583   4837    1458     0
33  381  1266   23.7  3140306   5940    3015     0
34  195   333   33.1  1406746   5416    4424     0
35  205  1073   21.0  3021801   6404    4224     0
36  206   157   12.8   384920   4796    4620     1
37  126   302    6.5   468512   4614    3393     1

# Removing Outlier

In [7]:
dataset=data.copy()
for feature in numerical_features:
    
    if 0 in dataset[feature].unique():
        pass
    else:
        
        
        q1=dataset[feature].quantile(0.25)
        q3=dataset[feature].quantile(0.75)
        iqr=q3-q1
        lower_lim=q1-1.5*iqr
        upper_lim=q3+1.5*iqr
        
        dataset=dataset[(dataset[feature]<=upper_lim) & (dataset[feature]>=lower_lim)]

#  Categorical to Numerical Conversion

In [25]:

label_encoder=LabelEncoder()
dataset.City=label_encoder.fit_transform(dataset.City)
dataset

    City  COL    PD  URate      Pop  Taxes  Income  RTWL
0      0  169   414   13.6  1790128   5128    2961     1
1      1  143   239   11.0   396891   4303    1711     1
2      2  339    43   23.7   349874   4166    2122     0
3      3  173   951   21.0  2147850   5001    4654     0
4      4   99   255   16.0   411725   3965    1620     1
5      5  363  1257   24.4  3914071   4928    5634     0
6      6  253   834   39.2  1326848   4471    7213     0
7      8  117   162   31.5   162304   4813    5535     0
8      7  294   229   18.2   164145   4839    7224     1
10     9  170   643   29.5  1381196   4637    4806     0
11    10  239  1295   29.5  1966725   5138    6432     0
12    11  174   302   11.0  2527224   4923    2363     1
13    12  183   489   29.5   835708   4787    5606     0
14    13  227   304   15.2  1413318   5386    5982     0
15    14  255  1130   34.6  4424382   5246    6275     0
16    15  249   323   27.8   169467   4289    8214     0
17    16  326   696   21.9  1062565   5134    6235     0
18    17  194   337   11.0  2286247   5084    1278     1
19    18  251   371   29.3  1138753   4837    5699     0
20    19  201   386   30.0  1290110   5052    4868     0
21    20  124   362   34.2   342797   4377    5205     0
23    21  328   968   27.8  1409363   5176    7635     0
24    22  265   433   24.4  2010841   5206    8392     0
25    23  120   183   17.7   748493   4454    3578     1
27    24  117   230   11.7   582664   4613     782     1
28    25  182  1353   34.2  4807001   4877    5144     0
29    26  169   762   34.2  2322224   4677    5987     0
30    27  267   201   23.1   228417   4123    7511     0
31    31  184   480   30.0  2366542   4721    4809     0
32    29  256   372   23.7  1584583   4837    1458     0
34    30  195   333   33.1  1406746   5416    4424     0
36    32  206   157   12.8   384920   4796    4620     1
37    28  126   302    6.5   468512   4614    3393     1

# Handling Ibalancing (oversampled Technique)

In [26]:
new_data=dataset.copy()

In [27]:

item_1=new_data[new_data["RTWL"]==1]
item_0=new_data[new_data["RTWL"]==0]


item_0.shape

(23, 8)

In [28]:
item_1.shape

(10, 8)

In [29]:
# 0 has more counts

#maximise 1 values and make it equal to the 0 
#So we pass 23 to data_over 1 as total data_over_0 are 23

data_over_1=item_1.sample(23,replace=True)
data_over=pd.concat([data_over_1,item_0],axis=0)

data_over.RTWL.value_counts()
#Hence data is already Sampled almost

1    23
0    23
Name: RTWL, dtype: int64

In [31]:
len(data_over)

46

In [32]:

x=data_over.drop(['RTWL'],axis=1)
y=data_over["RTWL"]

# Splitting Data

In [63]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=15,stratify=y)

In [64]:
from sklearn.ensemble import GradientBoostingClassifier

In [65]:
model=GradientBoostingClassifier(n_estimators=100, learning_rate=1.0,max_depth=2, random_state=1)
model.fit(x_train, y_train)
model.score(x_test, y_test)

0.9166666666666666

In [66]:
pred=model.predict(x_test)

In [67]:
y_test

4     1
10    0
0     1
37    1
36    1
2     0
13    0
25    1
14    0
1     1
19    0
32    0
Name: RTWL, dtype: int64

# Classification Report

In [68]:

from sklearn.metrics import classification_report
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

           0       1.00      0.83      0.91         6
           1       0.86      1.00      0.92         6

    accuracy                           0.92        12
   macro avg       0.93      0.92      0.92        12
weighted avg       0.93      0.92      0.92        12